.myproduct{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* gap: 20px; */
}
.productcontainer{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;
    margin: auto;
    /* border:1px solid red; */
    margin-top: 50px;
    gap: 10px;
}
@media all and (min-width: 450px) and (max-width: 790px) {
    .productcontainer {
        grid-template-columns: 1fr 1fr;
    }
    /* .my-search{
        width: auto;
    } */
}

@media all and (min-width: 250px) and (max-width: 450px) {
    .productcontainer {
        grid-template-columns: 1fr;
    }
}
.productcontainer>div{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
 .product-card{
    border: 1px solid red;
 } 